body{
    background-color: hsl(218, 28%, 13%);
}

.section-1{
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 200px 50px 100px 50px;
}

.semi-section-1{
    display: flex;
    flex-direction: row;
}

.semi-section-2{
    padding: 0 60px 100px 60px;
}

.section-1-images{
    padding-bottom: 50px;

}

.section-1-head{
    font-size: larger;
    font-weight: 700;
}

.section-1-para{
    padding: 0 15px 0 20px;
}


@media (min-width: 960px) {

    .section-1{
        padding: 200px 135px 100px 135px;
    }
    
    .semi-section-1{
        display: flex;
        flex-direction: row;
    }
    
    .semi-section-2{
        padding: 0 80px 100px 80px;
    }
    
    .section-1-images{
        padding-bottom: 50px;
    
    }
    
    .section-1-head{
        font-size: larger;
        font-weight: 700;
    }
    
    .section-1-para{
        padding: 0 15px 0 20px;
    }
    
}

@media (max-width: 720px) {

    .section-1{
        padding: 200px 0 100px 0;
    }

    .semi-section-1{
        display: inline;
    }
        
    .semi-section-2{
        padding-bottom: 100px;
    }

    .semi-section-2{
        padding: 0 20px 100px 20px;

}




